@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627527518826') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-16:before {
  content: "\e615";
}

.icon-tuichu:before {
  content: "\e669";
}

.icon-shouye:before {
  content: "\e60d";
}

.icon-pinglun:before {
  content: "\e604";
}

